@import url('reset.css');

html {
  font-size: 10px;
}

.lnbTitle span {
  font-size: 1.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}

.lnbItem div {
  height: 3.6rem;
  display: flex;
  align-items: center;
}

.lnbItem span {
  font-size: 1.4rem;
}

.lnb .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover,
.lnb .css-1cjkyt1-MuiButtonBase-root-MuiListItemButton-root:hover {
  border-radius: 0.4rem;
}

.lnb .css-i4bv87-MuiSvgIcon-root {
  font-size: 2.4rem !important;
  color: rgba(0, 0, 0, 1);
}
