@import url(reset.css);

.block {display: block;}
.inline {display: inline-block;}
.flex {display: flex; align-items: center;}

.notice-box {background-color: #f2f2f2; padding: 1.6rem;}
.notice-box li {font-size: 1.2rem; margin-bottom: 0.4rem; display: flex; color: #666;}
.notice-box li a {text-decoration: underline; color: #666;}
.notice-box li:last-child {margin-bottom: 0;}
.notice-box li::before {display: inline-block; content: '·'; font-weight: 700; padding-right: 0.4rem;}

.red {color: #c00000;}
.line {border-bottom: 0.1rem solid #f2f2f2; padding-bottom: 2rem; margin-bottom: 2rem;}

span.price {font-size: 1.4rem;}
strong.price {font-size: 1.8rem;}
strong.price em {font-size: 2rem;}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
 
.line-box {background-color: #f2f2f2;}
.padding-box {padding: 1.6rem; margin: 0.8rem 0;}
.gird-box {display: flex; align-items: center; justify-content: space-between;}
.btn-box {padding: 2.4rem 1.2rem 1.6rem;}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
 
.from button {background-color: #fff; border-radius: 1rem; border: 0.1rem solid #bfbfbf; box-sizing: border-box;}
.from button.close-btn {background: url(../img/close.svg) center no-repeat; border: none;}
.from button.plus-btn::before {display: inline-block; content: ''; width: 2rem; height: 2rem; background: url(../img/plus.svg) left center no-repeat; background-size: 2rem;}

.black-btn {background: url(../img/left-arrow.svg) center no-repeat; background-size: 3.2rem; margin-left: auto; padding: 0; width: 3.2rem; height: 3.2rem;}
.close-btn {background: url(../img/close.svg) center no-repeat; background-size: 3.2rem; margin-left: auto; padding: 0; width: 3.2rem; height: 3.2rem;}
.gift-btn {background: url(../img/gift.svg) center no-repeat; background-size: 3.2rem; margin-left: auto; padding: 0; width: 3.2rem; height: 3.2rem;}
.pay-btn {font-size: 1.4rem; height: auto; display: flex;}
.pay-btn::after {display: inline-block; content: ''; background: url(../img/right-arrow.svg) center no-repeat; background-size: 2rem; width: 2rem; height: 2rem;}

.full-btn {width: 100%; max-width: 36rem; background-color: #fff; border-radius: 1rem; border: 0.1rem solid #bfbfbf;}
.full-btn.pink {color: #fff; background-color: #fa0050; border: 0.1rem solid #bfbfbf; border: none;}
.full-btn:disabled {color: #bfbfbf; background-color: #ebebeb; border: none;}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

header {background-color: #fff !important;}
header h1 {font-size: 1.6rem !important; line-height: 2.2rem; font-weight: 700 !important;}
header .MuiSvgIcon-root {color: #000 !important; padding: 0.7rem !important;}
header .MuiToolbar-root {color: #000 !important; padding: 0 0.8rem !important;}
header .MuiButtonBase-root {margin: 0 !important; padding: 0 !important;}

.card-view {height: 400px; background-color: #F2F2F2;}

.title {margin-bottom: 0.8rem !important; font-weight: 700 !important;}
.title + span {color: #999; margin-left: 0.3rem;}
.title.star::after {content: '*'; font-size: 1.6rem; color: #FA0050; padding-left: 0.4rem;}

.from button, .from input {width: 100%; display: flex; align-items: center; justify-content: center;}

.mb0 {margin-bottom: 0 !important;}
