.product-inner{
    width: 100%;
    position: relative;
    font-size: 0;
    color: #333;
    display: table;
}

.thumbnail-img{
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 1.2rem;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}
.product-inner > i{
    display: none;
    height: 1.8rem;
    padding: 0 0.4rem;
    border-radius: 0.4rem;
    background: #FFE6EE;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: #FA0050;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}
.product-inner > i.active{display: inline-block;}
.product-explan{
    width: calc(100% - 6.4rem);
    display: table-cell;
    vertical-align: middle;
    padding-left: 1.2rem;
    vertical-align: middle;
    
}
.product-explan .product-name{
    width: 100%;
    display: block;
    margin-top: 0.2rem;
    line-height: 1;

}
.product-explan .product-name > span{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 700;
}

.product-explan .product-price{
    width: 100%;
    display: block;
    margin-top: 0.2rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
}
.product-explan .product-price > span{font-weight: 700; line-height: 1.9rem;}
.product-explan .product-price .discount-rate{color: #FA0050; line-height: 1.9rem;}
.product-explan .brand-name{
    width: 100%;
    display: block;
    margin-top: 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
}
