.nav li {
	font-size: 16px !important;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.6);
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.nav li p {
	font-size: 16px !important;
	font-weight: 400;
}