.bottomSheet {margin-bottom: 16px; overflow-y: auto;}

.bottomSheet:has(.img-box) {margin-bottom: 0;}
.bottomSheet-btn {position: absolute; top: 20px; right: 16px; width: 24px; height: 24px; background: url(../../public/images/close-24.svg) center no-repeat; background-size: 24px;}

.bottomSheet ~ .btn-box {padding: 0 16px 0;}
.full-btn {max-width: 100% !important;}
.MuiPaper-root:has(.filter-box), .filter-box, .in-filter {max-height: calc(100vh - 56px) !important;}
.in-filter:has(.phone-box) .btn-box {margin-top: auto; padding: 0 16px;}
.in-filter:has(.img-box) {padding-bottom: 0 !important;}

.img-box {display: flex; flex-wrap: wrap; margin: 0 -6px 6px;}
.img-item {width: 100px; height: 100px; border-radius: 8px; overflow: hidden; margin: 6px;}