.all-view{display: table; width: 8rem; height: 100%;}
.all-view > a{display: table-cell; vertical-align: middle; width: 100%; text-align: center;}
.all-view > a > img{width: 3.2rem; height: 3.2rem; display: inline-block;}
.all-view > a > p{text-align: center; display: block; margin-top: 0.4rem; font-size: 1.2rem; color: #333;}