.front, .back {
	width: 240px;
	height: 336px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 18px;
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.85, transparent), to(rgba(255, 255, 255, 0.35)));
	-moz-box-reflect: below 0 -moz-gradient(linear, left top, left bottom, from(transparent), color-stop(0.85, transparent), to(rgba(255, 255, 255, 0.35)));
	-ms-box-reflect: below 0 -ms-gradient(linear, left top, left bottom, from(transparent), color-stop(0.85, transparent), to(rgba(255, 255, 255, 0.35)));
	-o-box-reflect: below 0 -o-gradient(linear, left top, left bottom, from(transparent), color-stop(0.85, transparent), to(rgba(255, 255, 255, 0.35)));
}

/* 카드 미러효과 */