.card-cate {padding: 0 16px;}
.card-cate > ul {width: auto; display: flex;}
.card-cate > ul > li {width: auto; display: inline-block; margin-left: 8px; padding: 0 12px; height: 34px; border-radius: 17px; border: 1px solid #E5E5E5; line-height: 32px; box-sizing: border-box; word-break: keep-all; font-size: 14px;}
.card-cate > ul > li:first-child {margin-left: 0;}
.card-cate > ul > li.active {background: #333; color: #fff; font-weight: 700;}