.gift-card {position: relative; margin: 4px 0 55px; display: flex; align-items: center; justify-content: center;}


.card-box {position: static; width: 240px; height: 336px; -webkit-perspective: 1500px; -moz-perspective: 1500px; -o-perspective: 1500px; perspective: 1500px;}
.card-box .card-view {width: 100%; height: 100%; transition: transform 1.5s ease; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; position: relative;}

.message-btn {z-index: 1; box-shadow: 0 2px 12px 0 rgba(25, 48, 64, 0.24), 0 0 4px 0 rgba(25, 48, 64, 0.12); position: absolute; display: flex; align-items: center; justify-content: center; margin-left: -54px; left: 50%; bottom: 108px; font-size: 14px; font-weight: 400; border-radius: 36px; width: 108px; height: 32px; background: #fff;}
.message-btn::before {content: ''; display: block; width: 16px; height: 16px; background: url(../../public/images/pen.svg) center no-repeat; background-size: 16px;}

.cancel-box {width: 100%; height: 100%; border-radius: 18px; overflow: hidden; background-color: rgba(0,0,0,0.6); z-index: 20; position: absolute; display: flex; align-items: center; justify-content: center;}
.cancel-box .cancel-txt {color: #fff; font-size: 18px; font-weight: 700;}

.front {position: relative; display: flex; flex-direction: column; overflow: hidden;}
.front .img-view {width: auto; height: 240px;}
.front .card-info {position: absolute; bottom: 0; width: 100%; height: 96px; padding: 0 16px; display: flex; align-items: center; justify-content: space-between;}
.front .card-info .logo {width: 48px; height: 48px; border: 1px solid #fff; border-radius: 50%; display: flex; align-items: center; justify-content: center; overflow: hidden;}
.front .card-info .title-box {text-align: right;}
.front .card-info .title-box .brand {color: #fff !important;}
.front .card-info .title-box .price, .front .card-info .title-box .price .num {font-size: 24px; font-weight: 700; color: #fff !important;}

.back .text-box, .back .complete-box {width: 100%; height: 100%; border-radius: 5px; overflow: hidden;}
.back .label-box {position: absolute; top: 43px; left: 24px; font-size: 14px; color: #fff;}

.back {-webkit-transform: rotateY( -180deg ); -moz-transform: rotateY( -180deg ); -o-transform: rotateY( -180deg ); transform: rotateY( -180deg ); z-index: 3; border-radius: 18px; padding: 8px;}
.back textarea {border: 0; resize: none; width: 100%; height: 230px !important; box-sizing: border-box; margin-top: 32px; padding: 0 12px 12px; color: #fff; background-color: #2C4299;}
.back textarea:focus {border: none; outline: none;}
.back textarea::placeholder {color: #fff;}
.click {position: absolute; z-index: 1; left: 20px; bottom: 20px; width: auto; height: 32px; padding: 0 8px; color: #fff; border: 1px solid #fff; border-radius: 80px; line-height: 19px; font-weight: 400;}
.byte {position: absolute; z-index: 1; right: 20px; bottom: 26.5px; text-align: right; font-size: 14px; color: #fff;}

.back .complete-box {padding: 36px 16px; text-decoration: none;}
.back .complete-box h2, .back .complete-box .name {font-weight: 700; color: #fff;}
.back .complete-box .complete .content {font-size: 14px; line-height: 28px; margin-top: 12px; color: #fff; word-break: keep-all;}

.gift-card:has(.w-280) {margin: 16px 0 65px;}
.card-box.w-280 {width: 280px; height: 376px;}
.w-280 .front, .w-280 .back {width: 100%; height: 376px;}
.w-280 .front .img-view  {height: 280px;}
.w-280 .front .card-info .logo {width: 64px; height: 64px;}
.w-280 .front .card-info .title-box h3 {font-size: 16px !important;}
.w-280 .front .card-info .title-box .price, .w-280 .front .card-info .title-box .price .num {font-size: 32px;}
 
@media (max-width: 320px) {
	.card-box.w-280 {width: 240px; height: 336px;}
	.w-280 .front, .w-280 .back {width: 100%; height: 336px;}
	.w-280 .front .img-view  {height: 244px;}
	.w-280 .front .card-info  {height: 92px;}
	.w-280 .front .card-info .logo {width: 48px; height: 48px;}
	.w-280 .front .card-info .title-box h3 {font-size: 14px !important;}
	.w-280 .front .card-info .title-box .price, .w-280 .front .card-info .title-box .price .num {font-size: 24px;}
}

/* 카드 */