:root {
	--color1: rgb(255, 255, 255);
	--color2: rgb(255, 255, 255);
}

.sparkles {
	position: relative;
	overflow: hidden;
	z-index: 10;
	touch-action: none;
	transition: transform 0.5s ease;
	will-change: transform, filter;
}

.sparkles:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-repeat: no-repeat;
	opacity: .5;
	mix-blend-mode: color-dodge;
	transition: all .33s ease;
}

.sparkles:before {
	background-position: 50% 100%;
	background-size: 100% 800%;
	background-image: linear-gradient(115deg,
			transparent,
			transparent,
			var(--color2),
			transparent ,
			transparent);
	opacity: 1;
	filter: brightness(.5) contrast(1);
	z-index: 1;
	transition: none;
	animation: holoGradient 15s ease-in-out 0s 1;
}

@keyframes holoGradient {
	0% {
		background-position: 0% 0%;
		filter: brightness(.5) contrast(1);
	}

	5%,
	9% {
		background-position: 100% 100%;
		filter: brightness(.75) contrast(1.25);
	}

	13%,
	17% {
		background-position: 0% 0%;
		filter: brightness(.5) contrast(1);
	}
	100% {
		background-position: 0% 0%;
	}
}
