/* 메세지 쓰기, 카드 뒤집기 버튼 click 시 같은 방향으로 회전  */

.gift-card {
	opacity: 0; 
	animation: fadeIn 350ms ease-in-out 700ms forwards;
	-webkit-animation: fadeIn 350ms ease-in-out 700ms forwards;
	-moz-animation: fadeIn 350ms ease-in-out 700ms forwards;
	-ms-animation: fadeIn 350ms ease-in-out 700ms forwards;
	-o-animation: fadeIn 350ms ease-in-out 700ms forwards;
}
.card-box {--duration: 400ms; --duration-translate: 600ms; --transition-in: ease-in; --transition-out: ease-out;}
.front, .back {transform-origin: center center;}

.card-box .front {
	opacity: 1;
	transform: rotate3d(0, 1, 0, -90deg);
	-webkit-transform: rotate3d(0, 1, 0, -90deg);
	-moz-transform: rotate3d(0, 1, 0, -90deg);
	-ms-transform: rotate3d(0, 1, 0, -90deg);
	-o-transform: rotate3d(0, 1, 0, -90deg);

	animation: fadeIn 0ms var(--duration) forwards,
		flipCardOut var(--duration) var(--transition-out) var(--duration) forwards;
	-webkit-animation: fadeIn 0ms var(--duration) forwards,
		flipCardOut var(--duration) var(--transition-out) var(--duration) forwards;
	-moz-animation: fadeIn 0ms var(--duration) forwards,
		flipCardOut var(--duration) var(--transition-out) var(--duration) forwards;
	-ms-animation: fadeIn 0ms var(--duration) forwards,
		flipCardOut var(--duration) var(--transition-out) var(--duration) forwards;
	-o-animation: fadeIn 0ms var(--duration) forwards,
		flipCardOut var(--duration) var(--transition-out) var(--duration) forwards;


	transition: opacity var(--duration) var(--transition-out),
		transform var(--duration-translate) var(--transition-out);
	-webkit-transition: opacity var(--duration) var(--transition-out),
		transform var(--duration-translate) var(--transition-out);
	-moz-transition: opacity var(--duration) var(--transition-out),
		transform var(--duration-translate) var(--transition-out);
	-ms-transition: opacity var(--duration) var(--transition-out),
		transform var(--duration-translate) var(--transition-out);
	-o-transition: opacity var(--duration) var(--transition-out),
		transform var(--duration-translate) var(--transition-out);
}

.card-box:not(.manual-flip):hover .front,
.card-box.open.manual-flip .front {
	opacity: 1; 
	animation: flipCardIn var(--duration) var(--transition-in) 0ms forwards;
	-webkit-animation: flipCardIn var(--duration) var(--transition-in) 0ms forwards;
	-moz-animation: flipCardIn var(--duration) var(--transition-in) 0ms forwards;
	-ms-animation: flipCardIn var(--duration) var(--transition-in) 0ms forwards;
	-o-animation: flipCardIn var(--duration) var(--transition-in) 0ms forwards;
}

.card-box .back {
	transform: rotate3d(0, 1, 0, -90deg); 
	-webkit-transform: rotate3d(0, 1, 0, -90deg); 
	-moz-transform: rotate3d(0, 1, 0, -90deg); 
	-ms-transform: rotate3d(0, 1, 0, -90deg); 
	-o-transform: rotate3d(0, 1, 0, -90deg); 
	
	animation: flipCardIn var(--duration) var(--transition-in) 0ms forwards;
	-webkit-animation: flipCardIn var(--duration) var(--transition-in) 0ms forwards;
	-moz-animation: flipCardIn var(--duration) var(--transition-in) 0ms forwards;
	-ms-animation: flipCardIn var(--duration) var(--transition-in) 0ms forwards;
	-o-animation: flipCardIn var(--duration) var(--transition-in) 0ms forwards;
}
.card-box:not(.manual-flip):hover .back,
.card-box.open.manual-flip .back {
	animation: flipCardOut var(--duration) var(--transition-out) var(--duration) forwards;
	-webkit-animation: flipCardOut var(--duration) var(--transition-out) var(--duration) forwards;
	-moz-animation: flipCardOut var(--duration) var(--transition-out) var(--duration) forwards;
	-ms-animation: flipCardOut var(--duration) var(--transition-out) var(--duration) forwards;
	-o-animation: flipCardOut var(--duration) var(--transition-out) var(--duration) forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes flipCardIn {
	from {
		transform: rotate3d(0, 1, 0, 0deg);
		-webkit-transform: rotate3d(0, 1, 0, 0deg);
		-moz-transform: rotate3d(0, 1, 0, 0deg);
		-ms-transform: rotate3d(0, 1, 0, 0deg);
		-o-transform: rotate3d(0, 1, 0, 0deg);
	}
	to {
		transform: rotate3d(0, 1, 0, 90deg);
		-webkit-transform: rotate3d(0, 1, 0, 90deg);
		-moz-transform: rotate3d(0, 1, 0, 90deg);
		-ms-transform: rotate3d(0, 1, 0, 90deg);
		-o-transform: rotate3d(0, 1, 0, 90deg);
	}
} 

@keyframes flipCardOut {
	from {
		transform: rotate3d(0, 1, 0, -90deg);
		-webkit-transform: rotate3d(0, 1, 0, -90deg);
		-moz-transform: rotate3d(0, 1, 0, -90deg);
		-ms-transform: rotate3d(0, 1, 0, -90deg);
		-o-transform: rotate3d(0, 1, 0, -90deg);
	}
	to {
		transform: rotate3d(0, 1, 0, 0);
		-webkit-transform: rotate3d(0, 1, 0, 0);
		-moz-transform: rotate3d(0, 1, 0, 0);
		-ms-transform: rotate3d(0, 1, 0, 0);
		-o-transform: rotate3d(0, 1, 0, 0);
	}
}
