.category-selecter {width: 100%; position: relative;}
.category-selecter .dimmed {position: absolute; width: 48px; height: 70px; right: 0; top: 0; border-radius: var(--radius-r-00, 0); background: linear-gradient(270deg, #fff 0, rgba(255, 255, 255, 0) 88.24%); z-index: 2;}
.cate-slide {padding: 6px 8px 4px 8px; position: relative;}
.cate-slide > ul {display: flex; padding-right: 12px;} 
.cate-slide > ul > li {display: inline-block; width: 60px; margin-left: 4px;}
.cate-slide > ul > li:first-child {margin-left: 0;}