.MuiPaper-root {border-top-left-radius: 16px; border-top-right-radius: 16px;}
.filter-box {width: 100% !important; background: url(../../public/images/Rectangle_60.svg)center 10px no-repeat;}
.in-filter {padding: 24px 0 32px !important; width: 100%;}
.title-label {text-align: center; width: 100%; line-height: 64px !important; font-size: 18px !important; display: block; font-weight: 700 !important; color: #000000 !important;}
.right-labal {justify-content : flex-end; margin-right: 0 !important;  margin-left: 0 !important; padding: 0 16px; font-size: 16px !important;}
.right-labal .MuiTypography-root {font-size: 16px !important;}