.cate-icon {width: 60px; height: 60px;}
.cate-icon .icon-box {width: 42px; height: 42px; margin: 0 auto;}
.cate-icon .icon-box > img {width: 34px; margin: 4px 4px;}
.cate-icon > p {margin-top: 2px; text-align: center; font-size: 12px; line-height: 16px; letter-spacing: -0.8px;}
.cate-icon > p.active {font-weight: 700;}