@import url(reset.css);

.block {display: block;}
.inline {display: inline-block;}
.flex {display: flex; align-items: center;}
.col {display: flex; align-items: center; flex-direction: column;}
.shrink {flex-shrink: 0;}

.notice-box {background-color: #f2f2f2; padding: 1.6rem 0 !important; margin-bottom: 3.2rem !important;}
.notice-box li {font-size: 1.2rem; padding: 0 1.6rem 0.4rem; display: flex; color: #666;}
.notice-box li a {text-decoration: underline !important; color: #666;}
.notice-box li:last-child {padding-bottom: 0;}
.notice-box li::before {display: inline-block; content: '·'; font-weight: 700; padding-right: 0.4rem;}

.underline {border-bottom: 0.1rem solid #f2f2f2; padding-bottom: 1.4rem; margin-bottom: 1.4rem;}

.txt-12 {font-size: 1.2rem;}
span.price, .txt-14 {font-size: 1.4rem;}
strong.price {font-size: 1.8rem;}
strong.price em {font-size: 2rem;}

.error input {border: 0.1rem solid #c00000;}
.error .text {padding: 0.2rem 0 0.4rem 0.8rem; font-size: 1.2rem; color: #c00000;}
.error .notice-text {font-size: 1.2rem; text-align: center; color: #c00000;}

.m-0 {margin: 0;}
.mt-0 {margin-top: 0 !important;}
.mt-8 {margin-top: 0.8rem;}
.mt-12 {margin-top: 1.2rem;}

.mb-8 {margin-bottom: 0.8rem;}

.pt-0 {padding-top: 0 !important;}

/* ---Box-------------------------------------------------------------------------------------------------------------------------------------------------- */
 
.line-box {border: 0.1rem solid #bfbfbf; border-radius: 1rem; padding: 1.6rem 1.2rem;}
.padding-box {padding: 1.6rem;}
.gird-box {display: flex; align-items: center; justify-content: space-between;}
.btn-box {padding: 2.4rem 1.2rem 1.6rem; display: flex; align-items: center; justify-content: center;}
.gray-box {background-color: #f2f2f2;}
.hw-box{display: flex; justify-content: space-between; flex-direction: column; height: calc(100vh - 5.6rem)}

/* ---Button-------------------------------------------------------------------------------------------------------------------------------------------------- */
 
.to button {background-color: #fff; border-radius: 1rem; border: 0.1rem solid #bfbfbf; box-sizing: border-box;}
.to button.close-btn {background: url(../../public/images/close.svg) center no-repeat; border: none;}
.to button.plus-btn::before {display: inline-block; content: ''; width: 2rem; height: 2rem; background: url(../../public/images/plus.svg) left center no-repeat; background-size: 2rem;}
.to.disable input {border-color:red;} 

.black-btn {background: url(../../public/images/left-arrow.svg) center no-repeat; background-size: 3.2rem; padding: 0; width: 3.2rem; height: 3.2rem;}
.close-btn {background: url(../../public/images/close.svg) center no-repeat; background-size: 3.2rem; padding: 0; width: 3.2rem; height: 3.2rem;}
.gift-btn {background: url(../../public/images/gift.svg) center no-repeat; background-size: 3.2rem; padding: 0; width: 3.2rem; height: 3.2rem;}
.pay-btn {font-size: 1.4rem; height: auto; display: flex; font-weight: 400;}
.pay-btn::after {display: inline-block; content: ''; background: url(../../public/images/right-arrow.svg) center no-repeat; background-size: 2rem; width: 2rem; height: 2rem;}
.view-btn {background: url(../../public/images/view.svg) center no-repeat; background-size: 3.2rem; padding: 0; width: 3.2rem; height: 3.2rem;}
.message-btn {position: absolute; z-index: 1; left: 25%; bottom: 10.8rem; background: #fff url(../../public/images/pen.svg) left 0.8rem center no-repeat; padding: 0 1rem 0 2.6rem; height: 3.2rem; border-radius: 36rem; font-weight: 400;}

.full-btn {width: 100%; max-width: 36rem; background-color: #fff; border-radius: 1rem; border: 0.1rem solid #bfbfbf;}
.full-btn.pink {color: #fff; background-color: #fa0050; border: none;}
.full-btn.line {color: #333; border: 0.1rem solid #bfbfbf;}
.full-btn.whit {color: #333; background-color: #fff; border: none;}
.full-btn:disabled {color: #bfbfbf; background-color: #ebebeb; border: none;}

/* ---Contents-------------------------------------------------------------------------------------------------------------------------------------------------- */

.header {width: 100%; height: 5.6rem; display: flex; align-items: center; padding: 0 0.8rem;}
.header h1 {font-size: 1.6rem; line-height: 2.2rem; font-weight: 700;}

/* ---header 임시-------------------------------------------------------------------------------------------------------------------------------------------------- */

.padding-box .title {margin-bottom: 0.8rem !important; font-weight: 700 !important;}
.padding-box .title + span {color: #999; margin-left: 0.3rem;}
.padding-box .title.star::after {content: '*'; font-size: 1.6rem; color: #fa0050; padding-left: 0.4rem;}
.padding-box .title.mb0 {margin-bottom: 0 !important;}

.gift-complete-box {display: flex; justify-content: space-between; flex-direction: column; height: calc(100vh - 5.6rem);}
.gift-complete-card .text-box {margin-top: 3.2rem; padding: 0 5rem 5rem; text-align: center;}
.gift-complete-card .text-box h2 {font-size: 2.4rem !important; font-weight: 700;}
.gift-complete-card .text-box p {font-size: 1.4rem; line-height: 1.9rem; margin-top: 0.6rem; letter-spacing: -0.09rem; word-break: keep-all;}