@import url(reset.css);

.block {display: block;}
.inline {display: inline-block;}
.flex {display: flex; align-items: center;}
.col {display: flex; align-items: center; flex-direction: column;}

.notice-box {background-color: #f2f2f2; padding: 1.6rem 0 !important;}
.notice-box li {font-size: 1.2rem; padding: 0 1.6rem 0.4rem; display: flex; color: #666;}
.notice-box li a {text-decoration: underline !important; color: #666;}
.notice-box li:last-child {padding-bottom: 0;}
.notice-box li::before {display: inline-block; content: '·'; font-weight: 700; padding-right: 0.4rem;}

.underline {border-bottom: 0.1rem solid #f2f2f2; padding-bottom: 2rem; margin-bottom: 2rem;}

span.price, .txt-14 {font-size: 1.4rem;}
strong.price {font-size: 1.8rem;}
strong.price em {font-size: 2rem;}

.error input {border: 0.1rem solid #c00000;}
.error .text {padding: 0.2rem 0 0.4rem 0.8rem; font-size: 1.2rem; color: #c00000;}

.mt-8 {margin-top: 0.8rem;}
.mt-12 {margin-top: 1.2rem;}

/* ---Box-------------------------------------------------------------------------------------------------------------------------------------------------- */
 
.line-box {border: 0.1rem solid #bfbfbf; border-radius: 1rem; padding: 1.6rem 1.2rem;}
.padding-box {padding: 1.6rem; margin: 0.8rem 0;}
.gird-box {display: flex; align-items: center; justify-content: space-between;}
.btn-box {padding: 2.4rem 1.2rem 1.6rem; display: flex; align-items: center; justify-content: center;}
.gray-box {background-color: #f2f2f2;}

/* ---Button-------------------------------------------------------------------------------------------------------------------------------------------------- */
 
.to button {background-color: #fff; border-radius: 1rem; border: 0.1rem solid #bfbfbf; box-sizing: border-box;}
.to button.close-btn {background: url(../../public/images/close.svg) center no-repeat; border: none;}
.to button.plus-btn::before {display: inline-block; content: ''; width: 2rem; height: 2rem; background: url(../../public/images/plus.svg) left center no-repeat; background-size: 2rem;}
.to.disable input {border-color:red;} 

.black-btn {background: url(../../public/images/left-arrow.svg) center no-repeat; background-size: 3.2rem; padding: 0; width: 3.2rem; height: 3.2rem;}
.close-btn {background: url(../../public/images/close.svg) center no-repeat; background-size: 3.2rem; padding: 0; width: 3.2rem; height: 3.2rem;}
.gift-btn {background: url(../../public/images/gift.svg) center no-repeat; background-size: 3.2rem; padding: 0; width: 3.2rem; height: 3.2rem;}
.pay-btn {font-size: 1.4rem; height: auto; display: flex; font-weight: 400;}
.pay-btn::after {display: inline-block; content: ''; background: url(../../public/images/right-arrow.svg) center no-repeat; background-size: 2rem; width: 2rem; height: 2rem;}
.view-btn {background: url(../../public/images/view.svg) center no-repeat; background-size: 3.2rem; padding: 0; width: 3.2rem; height: 3.2rem;}
.message-btn {position: absolute; z-index: 1; left: 25%; bottom: 10.8rem; background: #fff url(../../public/images/pen.svg) left 0.8rem center no-repeat; padding: 0 1rem 0 2.6rem; height: 3.2rem; border-radius: 36rem; font-weight: 400;}

.full-btn {width: 100%; max-width: 36rem; background-color: #fff; border-radius: 1rem; border: 0.1rem solid #bfbfbf;}
.full-btn.pink {color: #fff; background-color: #fa0050; border: none;}
.full-btn.line {color: #333; border: 0.1rem solid #bfbfbf;}
.full-btn.whit {color: #333; background-color: #fff; border: none;}
.full-btn:disabled {color: #bfbfbf; background-color: #ebebeb; border: none;}

/* ---Contents-------------------------------------------------------------------------------------------------------------------------------------------------- */

.header {width: 100%; height: 5.6rem; display: flex; align-items: center; padding: 0 0.8rem;}
.header h1 {font-size: 1.6rem; line-height: 2.2rem; font-weight: 700;}

.card-info-box {padding: 1.2rem 0 1.6rem; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.card-info-box .price-info {display: flex; align-items: center; justify-content: center;}
.card-info-box .price-info .sale {font-size: 1.6rem; font-weight: 700; color: #fa0050;}
.card-info-box .price-info .price {margin: 0 0.4rem; font-size: 1.6rem; font-weight: 700; color: #333;}
.card-info-box .price-info .after-price {font-size: 1.2rem; color: #999; text-decoration: line-through;}
.card-info-box .date {margin-top: 0.4rem; font-size: 1.2rem; color: #999;}

.horizontal-scroll {width: 100%; height: auto; overflow-x: auto; display: flex; align-items: center; -ms-overflow-style: none;}
.horizontal-scroll::-webkit-scrollbar {display: none;}
.img-select {display: inline-flex; align-items: center; height: 7.4rem; padding: 0 0.8rem;}
.img-select li {width: 5.8rem; height: 5.8rem; display: flex; margin: 0 0.4rem; align-items: center; justify-content: center;}
.img-select li.selected {border: 0.2rem solid #000; border-radius: 1.2rem;}
.img-select li img {width: 4.8rem; height: 4.8rem;}
.view-btn {position: absolute; right: 0; width: 4rem; height: 6rem; background-color: #fff ;}

.money-voucher {display: inline-flex; align-items: center; height: 6rem; padding: 0 0.8rem; margin: 0 -0.4rem;;}
.money-voucher li {background-color: #f2f2f2; margin: 0 0.4rem; display: flex; align-items: center; justify-content: center; border-radius: 36rem; width: 8.8rem; height: 4rem; font-size: 1.4rem; color: #333;}
.money-voucher li.selected {background-color: #333; color: #fff; font-weight: 700;}
.money-voucher li.disable {background-color: #636464 !important; color: #bfbfbf !important; font-weight: 400 !important;}

.padding-box .title {margin-bottom: 0.8rem !important; font-weight: 700 !important;}
.padding-box .title + span {color: #999; margin-left: 0.3rem;}
.padding-box .title.star::after {content: '*'; font-size: 1.6rem; color: #fa0050; padding-left: 0.4rem;}
.padding-box .title.mb0 {margin-bottom: 0 !important;}
/* GiftDetail.js */
 
.to button, .to input {width: 100%; display: flex; align-items: center; justify-content: center;}
/* Privacy.js */

.tab-box {display: flex; align-items: center; justify-content: center;}
.tab-box .MuiTabs-root {width: 100%; height: 4rem; min-height: 4rem !important;}
.tab-box .MuiTab-root {width: 25%; min-width: 25% !important; height: 4rem; min-height: 4rem !important; font-size: 1.4rem; padding: 0 !important;}
.tab-box .Mui-selected {font-weight: 700 !important;}
/* tab.js */

.gift-card {position: relative; padding: 1.2rem 2rem; display: flex; align-items: center; justify-content: center;}
.card-box {position: static; top: 0.8rem; left: 50%; width: 24rem; height: 33.6rem; -webkit-perspective: 800px; -moz-perspective: 800px; -o-perspective: 800px; perspective: 800px;}
.card-box:not(.manual-flip):hover .card-view,
.card-box.hover.manual-flip .card-view {-webkit-transform: rotateY( 180deg ); -moz-transform: rotateY( 180deg ); -o-transform: rotateY( 180deg ); transform: rotateY( 180deg ); }
.card-box .card-view {-webkit-transition: -webkit-transform .5s; -moz-transition: -moz-transform .5s; -o-transition: -o-transform .5s; transition: transform .5s; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; position: relative; }

.front, .back {
	width: 100%;
	height: 33.6rem;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
  
.front {position: relative; border-radius: 1.8rem; display: flex; flex-direction: column; overflow: hidden;}
.front .img-view {width: auto; height: 24.4rem;}
.front .card-info {position: absolute; bottom: 0; width: 100%; height: 9.2rem; padding: 0 1.6rem; display: flex; align-items: center; justify-content: space-between;}
.front .card-info .logo {width: 4.8rem; height: 4.8rem; border-radius: 50%; display: flex; align-items: center; justify-content: center; overflow: hidden;}
.front .card-info .title-box {text-align: right; color: #fff;}
.front .card-info .title-box .price, .front .card-info .title-box .price .num {font-size: 2.4rem; font-weight: 700;}

.back {-webkit-transform: rotateY( 180deg ); -moz-transform: rotateY( 180deg ); -o-transform: rotateY( 180deg ); transform: rotateY( 180deg ); z-index: 3; border-radius: 1.8rem; padding: 1.2rem;}
.back .text-box, .back .complete-box {width: 100%; height: 100%; background-color: #fff; border-radius: 0.5rem; overflow: hidden;}
.back .label-box {position: absolute; top: 4.3rem; left: 2.4rem; font-size: 1.4rem; color: #333;}
.back .label-box p {color: #999; letter-spacing: -0.06rem;}
.back textarea {border: 0; resize: none; width: 100%; height: 26.7rem !important; box-sizing: border-box; padding: 3.2rem 1.2rem 1.2rem;}
.back textarea:focus {border: none; outline: none;}
.back textarea::placeholder {color: #000;}
.click {position: absolute; z-index: 1; left: 2.4rem; bottom: 2.4rem; width: auto; height: 3.2rem; padding: 0 0.8rem; border: 0.1rem solid #333; border-radius: 8rem; line-height: 1.9rem; font-weight: 400;}
.byte {position: absolute; z-index: 1; right: 2.4rem; bottom: 3rem; text-align: right; font-size: 1.4rem; color: #333;}

.back .complete-box {display: flex; align-items: center; padding: 0 2.8rem; text-decoration: none;}
.back .complete-box h2, .back .complete-box .name {font-weight: 700; color: #333;}
.back .complete-box .complete .content {font-size: 1.4rem; letter-spacing: -0.1rem; line-height: 1.9rem; margin-top: 1.2rem; color: #333; word-break: keep-all;}

.card-box.w-280 {width: 28rem; height: 39.2rem;}
.w-280 .front, .w-280 .back  {height: 39.2rem;}
.w-280 .front .img-view  {height: 28.1rem;}
.w-280 .front .card-info  {height: 11.2rem;}
.w-280 .front .card-info .logo {width: 6.4rem; height: 6.4rem;}
.w-280 .front .card-info .title-box h3 {font-size: 1.6rem !important;}
.w-280 .front .card-info .title-box .price, .w-280 .front .card-info .title-box .price .num {font-size: 3.2rem;}
 
@media (max-width: 320px) {
	.card-box.w-280 {width: 24rem; height: 33.6rem;}
	.w-280 .front, .w-280 .back  {height: 33.6rem;}
	.w-280 .front .img-view  {height: 24.4rem;}
	.w-280 .front .card-info  {height: 9.2rem;}
	.w-280 .front .card-info .logo {width: 4.8rem; height: 4.8rem;}
	.w-280 .front .card-info .title-box h3 {font-size: 1.4rem !important;}
	.w-280 .front .card-info .title-box .price, .w-280 .front .card-info .title-box .price .num {font-size: 2.4rem;}
}
/* 카드 */

.gift-complete-box {display: flex; justify-content: space-between; flex-direction: column; height: calc(100vh - 5.6rem)}
.gift-complete-card .text-box {margin-top: 3.2rem; padding: 0 5rem 5rem; text-align: center;}
.gift-complete-card .text-box h2 {font-size: 2.4rem !important; font-weight: 700;}
.gift-complete-card .text-box p {font-size: 1.4rem; line-height: 1.9rem; margin-top: 0.6rem; letter-spacing: -0.09rem; word-break: keep-all;}
/* 선물하기 완료 */

.line-box .detail-info .gird-box {margin-bottom: 0.8rem;}
.line-box .detail-info .gird-box:last-child {margin-bottom: 0;}
.line-box .detail-info .gird-box h3, .line-box .detail-info .gird-box .txt-14 {color: #333;}
























































