.filterBtn-Group > button{
    width: auto;
    padding: 0.8rem;
    height: 3.4rem;
    border-radius: 1.7rem;
    border: 0.1rem solid #e5e5e5;
    margin-left: 0.4rem;
}
.filterBtn-Group > button:first-child{margin-left: 0;}
.filterBtn-Group > button > p{
    padding: 0 2rem 0 0.4rem;
    position: relative;
    line-height: 1.6rem;
    font-size: 1.4rem;
}

.filterBtn-Group > button > p > i{
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    right: 0.2rem;
    background: url(../../public/images/ic_chevron_down_s.svg) center center no-repeat;
}


.filterBtn-Group > button.active{
    border: 0;
    background: #333;
}
.filterBtn-Group > button.active > p{
    color: #fff;
    font-weight: 700;
}

.filterBtn-Group > button.active > p > i{
    background: url(../../public/images/ic_chevron_down_s_w.svg) center center no-repeat;
}