.giftcard-box {padding: 0 1.6rem; overflow-y: scroll;}
.img-box {display: flex; flex-wrap: wrap; margin: 0 -0.6rem 0.6rem;}
.img-item {width: 10rem; height: 10rem; border-radius: 0.8rem; overflow: hidden; margin: 0.6rem;}