.giftcard-box {padding: 0 16px; overflow-y: scroll;}
.img-box {display: flex; flex-wrap: wrap; margin: 0 -6px 6px;}
.img-item {width: 100px; height: 100px; border-radius: 8px; overflow: hidden; margin: 6px;}

@media (max-width: 320px) {
	.img-box {justify-content: center;}
}