.giftbox-btn{
    padding: 0 1.6rem 1.6rem;
    text-align: center;
}
.giftbox-btn > button{
    width: 100%;
    height: 4.8rem;
    border-radius: 1rem;
    border: 0.1rem solid #bfbfbf;
    font-size: 1.6rem;
    font-weight: 700;
}

.giftbox-btn > button.sm{
    width: 20rem;
}
