#gift-checkbox{
    width: 100%;
    position: relative;
}

#gift-checkbox > input[type=checkbox] {
    position: absolute; 
    top: 0.3rem; 
    left: 0.3rem; 
    z-index: -1; 
    width: 0rem; 
    height: 0rem; 
    opacity: 0;
}

#gift-checkbox > input[type=checkbox] + label {
    border: 0.1rem solid #e5e5e5;
    border-radius: 0.8rem;
    background: #fff !important;
    padding: 0.4rem 1.6rem 0.4rem 0.4rem !important;
    font-size: 0;
    position: relative; 
    display: flex; 
    align-items: center; 
    
}

#gift-checkbox > input[type=checkbox] + label::before{display: none;}
#gift-checkbox > input[type=checkbox]:checked + label {
    background: #fff;
    background-size: auto;
    border: 0.2rem solid #333;
    padding: 0.3rem 1.5rem 0.3rem 0.3rem !important;
}
#gift-checkbox > input[type=checkbox]:checked + label::before{display: none;}

#gift-checkbox .gift-img{
    position: relative;
    display: inline-block;
    width: 11.2rem;
    height: 11.2rem;
    vertical-align: middle;
    border-radius: 0.8rem;
    overflow: hidden;
}

#gift-checkbox .gift-img > img{width: 100%;}

#gift-checkbox .gift-img .brand-logo{
    width: 4.4rem;
    height: 4.4rem;
    border: 0.1rem solid #f6f6f6;
    border-radius: 2.2rem;
    position: absolute;
    left: 0.6rem;
    top: 0.6rem;
    overflow: hidden;
}

#gift-checkbox .gift-img .brand-logo > img{width: 100%;}
#gift-checkbox .gift-img .dim{
    display: none;
}
#gift-checkbox .gift-img .dim > i{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
}


#gift-checkbox .gift-info{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 13.6rem);
    padding: 0 1.6rem;
}
#gift-checkbox .gift-info #bage{
    width: auto;
    display: inline-block;
    background: #e8f5fa;
    border-radius: 0.4rem;
    padding: 0 0.4rem;
    line-height: 1.8rem;
    margin-bottom: 0.4rem;
}

#gift-checkbox .gift-info #bage > strong{
    font-size: 1rem;
    font-weight: 700;
    color: #003f55;
}
#gift-checkbox .gift-info #bage > i{
    font-size: 1rem;
    font-weight: 400;
    color: #003f55;
}

#gift-checkbox .gift-info #bage.single > i{
    display: none;
}

#gift-checkbox .gift-info #bage.none{
    display: none;
}

#gift-checkbox .gift-info .balance{
    width: 100%;
    
}
#gift-checkbox .gift-info .balance > span{
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #333;
    vertical-align: bottom;
    display: inline-block;
}

#gift-checkbox .gift-info .balance > strong{
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
    color: #333;
    vertical-align: bottom;
    display: inline-block;
    margin-left: 0.4rem;
}

#gift-checkbox .gift-info .gift-name{
    margin-top: 0.4rem;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

#gift-checkbox .gift-info .from-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #999;
}

#gift-checkbox.not .gift-img .dim
{
    display: table;
    width: 11.2rem;
    height: 11.2rem;
    background: rgba(0, 0, 0, 0.60);
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
}

#gift-checkbox.not .gift-info{
    opacity: 0.3;
}



#gift-checkbox .check-circel{
    display: inline-block;
    width: 2.4rem;
    vertical-align: middle;
}
#gift-checkbox .check-circel .circel{
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 1.2rem;
    border: 0.1rem solid #bfbfbf;
}
#gift-checkbox .check-circel .circel > i{
    display: none;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2.2rem;
    color: #fff;
    font-weight: 700;
}

#gift-checkbox > input[type=checkbox]:checked + label .check-circel .circel{
    border: 0.1rem solid #333;
    background: #333;
    
}

#gift-checkbox > input[type=checkbox]:checked + label .check-circel .circel > i{
    display: block;
}

#gift-checkbox > input[type=checkbox]:disabled + label{ opacity: 0.3;}
#gift-checkbox.not > input[type=checkbox]:disabled + label{ opacity: 1;}
#gift-checkbox > p{display: none;}
#gift-checkbox.not > p{
    display: block;
    font-size: 1.2rem;
    list-style: 1.6rem;
    color: #c00000;
    margin-top: 0.4rem;
}