#giftTopInfo {width: 100%; padding-top: 20px; text-align: center;}
#giftTopInfo.none {display: none;}
#giftTopInfo.single, #giftTopInfo.double {display: block;}
#giftTopInfo > p {text-align: center; padding: 7px 0 6px;}
#giftTopInfo > p > span {display: inline-block; font-size: 14px; line-height: 19px;}
#giftTopInfo > p > strong {display: inline-block; font-size: 14px; line-height: 19px; font-weight: 700; margin-left: 8px;}
#giftTopInfo > i {display: block; text-align: center; font-size: 12px; line-height: 16px; color: #666;}
#giftTopInfo.single > i {display: none;}