.gift-code-area {
    width: 100%;
    padding: 16px;
}

.gift-code-area > h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.gift-code-area .textfild-area {
    width: 100%; 
    margin-top: 8px;
    display: table;
    
}
.gift-code-area .textfild-area > span {
    display: table-cell;
    vertical-align: middle;
    width: 70px;
}

.gift-code-area .textfild-area > span:first-child {
    width: calc(100% - 70px);
    padding-right: 8px;
}

.gift-code-area .textfild-area > span > input {
    width: 100%;
    height: 48px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    font-size: 14px;
    line-height: 19px;
    padding: 0 16px;
}

.gift-code-area .textfild-area > span > input::placeholder {color: #999;}
.gift-code-area .textfild-area > span > input:disabled {background: rgba(0, 0, 0, 0.08);}
.gift-code-area .textfild-area > span > button {
    width: 100%;
    height: 48px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    font-size: 14px;
    line-height: 19px;
    color: #333;
    font-weight: 700;
}

.gift-code-area .textfild-area > span > button:disabled {
    background: rgba(0, 0, 0, 0.08);
    color: #bfbfbf;
}