.giftcard-slide{margin-top: 0.8rem;}
.brand-slide{margin-top: 0.8rem; }
.img-card-slide{margin-top: 0.8rem; }
.popular-gift{margin-top: 0.8rem; }
.price-pik{margin-top: 0.8rem; }
.sale-gift{margin-top: 0.8rem;}
.main-button{margin-top: 0.8rem;}