.imgslide-area {padding: 16px; box-sizing: border-box;}
.imgslide-area > ul {width: auto; display: flex;  flex-wrap: wrap; width: 100%; align-content: flex-start; flex-direction: column; height: 276px;}
.imgslide-area > ul > li {width: auto; display: inline-block; margin-top: 12px; margin-left: 12px;}
.imgslide-area > ul > li:first-child {margin-top: 0; margin-left: 0;}
.imgslide-area > ul > li:nth-child(2) {margin-left: 0;}
.imgslide-area > ul > li:nth-child(2n+1) {margin-top: 0;}
.imgslide-area > ul > li:last-child {height: 276px; margin-top: 0;}
li > a {margin-top: 12px;}
li > a:first-child {margin-top: 0;}