.imgslide-area{
    padding: 1.6rem ;
    box-sizing: border-box;
}
.imgslide-area > ul{
    width: auto;
    display: flex; 
    
}
.imgslide-area > ul > li{
    width: auto;
    display: inline-block;
    margin-left: 1.2rem;
}
.imgslide-area > ul > li:first-child{margin-left: 0;}

li > a{margin-top: 1.2rem;}
li > a:first-child{margin-top: 0;}