.detail-info-box .btn-box {padding: 0; margin: 0.8rem -0.4rem 0;}
.detail-info-box .btn-box button {margin: 0 0.4rem; max-width: 100%;}

.line-box .detail-info .gird-box {margin-bottom: 0.8rem;}
.line-box .detail-info .gird-box:last-child {margin-bottom: 0;}

.line-box .detail-info:has(h4) {margin-bottom: 0.8rem;}
.line-box .detail-info:has(h4):last-child {margin-bottom: 0;}
.line-box .detail-info:has(h4) .gird-box {margin-bottom: 0.4rem;}
.line-box .detail-info .gird-box h3, .line-box .detail-info .gird-box .txt-14 {color: #333;}
.line-box .detail-info .gird-box h4, .line-box .detail-info .gird-box .txt-12 {color: #999;}

@media (max-width: 280px) {
	.line-box .detail-info .gird-box h3, .line-box .detail-info .gird-box .txt-14 {font-size: 1.3rem !important;}
}






















































