.main-title {width: 100%; position: relative; padding: 16px 12px 16px 16px;}
.main-title > h3 {font-size: 18px !important; font-weight: 700; line-height: 24px;}
.btn-off {display: none;}
.btn-on {width: 24px; height: 24px; position: absolute; right: 12px; top: 16px; background: url(../../public/images/ic_chevron_right_gray900c_24.svg) center center no-repeat;}