.payment-list {position: relative; margin: 0 16px; width: calc(100% - 32px); height: 52px; display: flex; align-items: center;}
.payment-list .flex {width: 100%;}
.payment-list .title {display: flex; align-items: center; font-weight: 700 !important;}
.payment-list .title .info {display: flex; width: 20px; height: 20px; background: url(../../public/images/info.svg) center no-repeat; background-size: 20px; margin-left: 2px;}

.info-box {display: none; vertical-align: baseline; width: 220px; z-index: 3; line-height: 16px; font-size: 12px; position: absolute; top: 37px; left: 0; border: 1px solid #bfbfbf; background-color: #fff; padding: 8px 12px; border-radius: 6px;}
.info-box span {font-weight: 700;}
.payment-list .title .info:focus ~ .info-box {display: block;}
.payment-list .title.app::after {display: flex; content: '앱에서 미리 결제'; color: #999; font-size: 12px; margin-left: 6px;}
.card-btn {flex-shrink: 0; margin-left: auto; height: 28px; border: 1px solid #bfbfbf; border-radius: 6px; font-size: 12px; padding: 0 10px;}

.pay-result-box {margin-top: 16px; padding: 12px 8px; border-radius: 6px; background-color: #f2f2f2;}
.pay-result-box img {width: auto; height: 24px;}
.pay-result-box .num {font-size: 14px; font-weight: 700; flex-shrink: 0;}

.padding-box:has(.green) .underline {border: 0; padding-bottom: 0; margin-bottom: 0;}
.padding-box:has(.green) .grid-box:has(.green) {border-bottom: 1px solid #f2f2f2 !important; padding-bottom: 14px; margin-bottom: 14px;}