.price_card{
    display: block;
    width: 13.2rem;
}
.priceCard-img{
    width: 13.2rem;
    height: 13.2rem;
    border-radius: 1.2rem;
    overflow: hidden;
    position: relative;
}
.priceCard-img > img{width: 100%;}


.brand-ci{
    position: absolute;
    width: 4.4rem;
    height: 4.4rem;
    border: 1px solid #f2f2f2;
    border-radius: 2.2rem;
    box-sizing: border-box;
    overflow: hidden;
    top: 0.6rem;
    left: 0.6rem;
}
.brand-ci > img{width: 100%;}


.product-explan2{
    padding: 0.6rem 0 0 0; color: #333;    
}

.brand-name{
    width: 100%;
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #666;
}


.product-name{
    width: 100%;
    display: block;
    margin-top: 0.4rem;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
}

.price_info{margin-top: 0.2rem; font-size: 0;}
.price_info .discount-rate{}

.product-name > i{
    display: inline-block;
    height: 1.8rem;
    padding: 0 0.4rem;
    border-radius: 0.4rem;
    background: #FFE6EE;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: #FA0050;
    text-align: center;
    margin-left: 0.4rem;


}
.product-price{
    width: 100%;
    display: block;
    margin-top: 0.3rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.9rem;
}
.product-price > span{font-weight: 700;}
.product-price .discount-rate{color: #FA0050;}
