.tab-box {display: flex; align-items: center; justify-content: center;}
.tab-box .MuiTabs-root {width: 100%; height: 4rem; min-height: 4rem !important;}
.tab-box .MuiTab-root {width: 25%; min-width: 25% !important; height: 4rem; min-height: 4rem !important; font-size: 1.4rem; padding: 0 !important;}
.tab-box .Mui-selected {font-weight: 700 !important;}