.use-giftbox {width: 100%;}
.use-giftbox > ul {width: 100%; padding: 16px; height: calc(100vh - 136px); overflow-y: auto;}
.use-giftbox > ul > li {width: 100%; margin-top: 12px;}
.use-giftbox > ul > li:first-child {margin-top: 0;}