@import url('reset.css');

header {
	width: 100%;
	height: 56px;
	padding: 0 34px 0 16px !important;
	display: flex !important;
	align-items: center;
	background-color: rgb(51, 51, 51);
}

header a {
	display: flex;
}

header img {
	width: auto;
	height: 24px;
}

header .header-menu {
	margin-left: auto;
	display: flex;
	align-items: center;
}

header .header-menu button {
	color: rgba(255, 255, 255, 1);
	border-radius: 0;
	font-size: 14px;
	font-weight: 500;
	padding: 0 16px;
	border-left: 1px solid rgba(0, 0, 0, 1);
}

header .header-menu button:first-child {
	border-left: 0;
}

header .header-menu button:last-child {
	padding-right: 0;
}