@import url('reset.css');

html {
	font-size: 10px;
}

header {
	width: 100%;
	height: 5.6rem;
	padding: 0 2.4rem !important;
	display: flex !important;
	align-items: center;
	background-color: rgb(51, 51, 51);
}

header a {
	display: flex;
}

header img {
	width: auto;
	height: 2.4rem;
}

header .header-menu {
	margin-left: auto;
	display: flex;
	align-items: center;
}

header .header-menu button {
	color: rgba(255, 255, 255, 1);
	border-radius: 0;
	font-size: 1.4rem;
	font-weight: 500;
	padding: 0 1.6rem;
	border-left: 0.1rem solid rgba(0, 0, 0, 1);
}

header .header-menu button:first-child {
	border-left: 0;
}

header .header-menu button:last-child {
	padding-right: 0;
}